<h1>To do app!</h1>

<div>
    <form action="/" method="POST">
        {% csrf_token %}
        {{form.title}}
        <input type="submit"  name="Create Note" >
        
    </form>
</div> 

    {% for note in notes reversed %}
        <div>            
            <a href="{% url 'update' note.id %}">Update</a>
            <a href="{% url 'delete' note.id %}">Cancel</a>
            
            {% if note.status == True%}
            <strike>{{note.title}}</strike>
            {% else %}
            <span>{{note.title}}</span>
            {% endif %}
        </div>
    {% endfor %}

</div>

